@import "~bootstrap/scss/bootstrap.scss";
@import "variables";

// ________________ GENERAL ________________
body {
    margin: 0;
    font-family: OpenSans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    min-height: 100vh;
    background-color: $light;
}

// ________________ HTML ELEMENTS ________________
h1,
h2,
h3,
h4,
h5,
h6,
.font-advent {
    font-family: AdventPro, sans-serif;
}

a,
.btn.btn-Link {
    color: $red;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
        border-color: $red;
        color: $red;
    }

    &.text-dark {
        color: $dark;
    }
}

button.btn.btn-primary,
.btn.btn-primary {
    background-color: $red;
    min-width: 44px;
    min-height: 44px;
    color: $white;
    width: fit-content;
    font-weight: bold;
    border: 0;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
        background-color: $red-dark;
    }
}

button.btn.btn-outline-primary,
.btn.btn-outline-primary {
    background-color: transparent;
    min-width: 44px;
    min-height: 44px;
    color: $dark;
    width: fit-content;
    font-weight: bold;
    border: 1px solid $red;
    border-radius: 25px;
    padding: 0.45rem 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
        background-color: $red-dark;
        border-color: $red-dark;
        color: $white;
    }
}

button.btn.btn-secondary,
.btn.btn-secondary {
    background-color: $blue-500;
    min-width: 55px;
    min-height: 55px;
    color: $white;
    width: fit-content;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
        background-color: $blue-800;
    }
}

.card {
    background-color: #ffffff99;
    border-radius: 20px;
    border: 0;
    box-shadow: 1px 1px 5px #f1f0ea;
    padding: 1rem;
}

ul {
    list-style-type: none;
}

// ________________ SIZES ________________
.h-40px {
    height: 40px;
}

.h-15px {
    height: 15px;
}

.h-90vh {
    height: 90vh;
}

.minh-100 {
    min-height: 100vh;
}

.w-90 {
    width: 90% !important;
}

.maxw-100 {
    max-width: 100% !important;
}

.w-content {
    max-width: min(1700px, 90vw);
    width: 100%;
    margin: 0 auto;
}

@include media-breakpoint-up(sm) {
    .w-sm-25 {
        width: 25% !important;
    }
}

@include media-breakpoint-up(md) {
    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .maxw-md-80 {
        max-width: 80vw;
    }
}

@include media-breakpoint-up(lg) {
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-60 {
        width: 60% !important;
    }
}

// ________________ TEXT ________________
.title {
    font-size: 48px !important;
}
@include media-breakpoint-up(lg) {
    .title {
        font-size: 70px !important;
    }
}

.fs-7 {
    font-size: 0.85rem;
}

.fs-8 {
    font-size: 0.7rem;
}

.text-light-blue {
    color: $blue-200;
}

.text-blue {
    color: $blue-500;
}

.text-blue-dark {
    color: $blue-800;
}

.text-teal {
    color: $teal-500;
}

.text-red-dark,
.text-dark-red-hover:hover {
    color: $red-dark !important;
}

.text-decoration-underline-hover:hover {
    text-decoration: underline !important;
}

// ________________ LAYOUT ________________

.mt-5rem {
    margin-top: 5rem !important;
}

.mt-6 {
    margin-top: 4rem;
}

.mt-n45 {
    margin-top: -45rem;
}

.z-4 {
    z-index: 4;
}

.opacity-focus-1:focus {
    opacity: 1 !important;
}

@include media-breakpoint-up(md) {
    .mt-md-10 {
        margin-top: 10rem !important;
    }
}

@include media-breakpoint-up(lg) {
    .gap-lg-8 {
        gap: 8rem !important;
    }
}

// ________________ COLORS ________________

.bg-glass-white {
    background-color: #fff;
    box-shadow: 0px 4px 20px 4px #00000010;
}

.bg-glass-light {
    background-color: #f1f0ea95;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 0 15px 10px #f1f0ea95;
}

.bg-blue {
    background-color: $blue-500;
}

.text-white {
    color: $white;
}

.about-card-0 {
    background-color: $blue-50;
}
.about-card-1 {
    background-color: $white;
}
.about-card-2 {
    background-color: $teal-300;
}
.about-card-3 {
    background-color: $light;
}

// ________________ ANIMATIONS ________________

.animated-underline {
    text-decoration: none;
    background-image: linear-gradient($blue-200, $blue-200);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 0% 3px;
    padding-bottom: 0.12em; /* space for underline */
}

// ________________ FORMS ________________

.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid $red;
    background-color: #ffffff99;
}
